@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

/* custom classes */
.underline-header {
    background-image: linear-gradient(0deg, #35c9e2, #35e6bb 0);
    background-repeat: no-repeat;
    background-size: 100% 25%;
    background-position: left 70% top 90%;
}

html {
    scroll-behavior: smooth !important;
}

.custom-transition {
    transition: all 0.3s linear;
}

.navbar {
    position: sticky;
}

.navbar.sticky {
    top: 0;
    left: 0;
    transition: 0.2s linear all;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.prev,
.next {
    position: absolute;
    top: 100px;
    transform: translateY(-50%);

    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-color: transparent;
    font-size: 2rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s linear all;
}

.prev {
    left: 2px;
}
.next {
    right: 2px;
}

.slider-article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    opacity: 0;
}

.slider-article.activeSlide {
    opacity: 1;
    transform: translateX(0);
}
.slider-article.lastSlide {
    transform: translateX(-100%);
}
.slider-article.nextSlide {
    transform: translateX(100%);
}

.custom-box-shadow {
    box-shadow: 10px 10px 26px 0px rgba(2, 82, 205, 0.28);
}
